* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .main-nav-bar{
    display: none;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
  }
  
  h3 {
    font-size: 24px;
  }
  
  p {
    font-size: 12px;
  }
  
 
  header {
    background-color: #eac926;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.top-header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  }

  header div.logo {
    width: 50%;
    padding: 10px;
  }


  header nav {
    font-size: 11px;
  }
  
  header ul li {
    list-style-type: none;
  }
  
  header ul li a {
    text-decoration: none;
    color: #000;
  }
 
  .form {
    width: 50%;
    display: flex;
    max-height: 32px;
    height: 100%;
    position: relative;
    justify-content: flex-end;

}

  header .form .input {
    width: 70%;
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 10px;
  }
  
  header .form .submit {
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    align-items: center;
  }
  
  .copy-header {
    text-align: center;
    margin-top: 10px;
    margin: auto;
}

  

  div.burger-menu {
    text-align: center;
  }
  
  div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
  

.titulares {
  margin: 10px;
}

  article div.main-article {
    flex: 1;
    margin: 10px;
    max-width: 300px;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
  }
  .product_img {
    width: 100%;
  }

  .price-discount {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  .price {
    font-size: 16px;
    font-weight: bold;
    width: 30%;
    margin: 0;
  }

  .discount {
    width: 70%;
    margin-left: 20px;
  }
  
  .product-delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.product-desc-box {
  position: relative;
}

  .discount,
  .description {
    font-size: 16px;
    font-weight: normal;
  }
  
  h3,
  .description {
    color: #666;
  }
  
  section.banner img {
    width: 100%;
  }
  
  main {
    width: 90%;
  }
  
  main section article {
    background-color: #fff;
  }
  
  main section article img {
    width: 100%;
  }
  
  main section article i,
  .discount {
    color: #39b54a;
  }
 
article div.main-article h4.description {
  display: none;
}

  footer {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.create-form {
  padding: 28px 15px;
}
.control-formulario {
  margin-bottom: 15px;
}
.control-formulario label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}
.control {
  width: 100%;
  padding: 8px;
}
.buttom-form {
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (min-width: 361px) {
  .top-header {
    display: flex;
    justify-content: space-between;
  }
  .copy-header {
    max-width: 350px;
    text-align: right;
  }

  .burger-menu {
    display: none;
  }
  nav.main-nav-bar {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .main-nav-bar ul {
    display: flex;
  }
  .main-nav-bar li {
    margin: 0 3px 10px;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .article {
  width: 48%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  article div.main-article h4.description {
    display: block;
  }
  footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  footer section h4.copy {
    position: relative;
    top: 0;
    
  }
}
@media (min-width: 769px) {

  div.top-header{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
  }
  .logo {
    width: 350px;
  }
  .copy-header {
    max-width: none;
  }

  .main-nav-bar li { 
    margin: 0 10px;
  }
  .main-nav-bar ul {
    font-size: 11px;

  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .article {
    width: 22%;
    box-shadow: none;
    transition: box-shadow 300ms;
    cursor: pointer;
  }
  .article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .article div.main-article h4.description {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .article div.main-article:hover h4.description {
    opacity: 1;
  }
  .article div.main-article:hover .fa-truck {
    transform: rotate(-90deg);
  }
}